<div class='container'>
  <article id='message-single'>
    <header>
      <span class='message-sender'>Ben</span>
      <time>5 minutes ago</time>
    </header>
    
    <p>
      Aesthetic sustainable salvia banh mi exercitation proident. 
      Viral incididunt actually, aesthetic anim dolor selfies 
      dolore literally Truffaut. Farm-to-table Banksy nulla Austin, 
      aesthetic photo booth kogi XOXO synth yr pariatur Carles 
      keffiyeh tousled fingerstache. Anim paleo plaid do, deep v 
      XOXO meggings forage. Four loko banh mi farm-to-table, pop-up 
      plaid church-key Wes Anderson nihil McSweeney's American Apparel 
      ugh mlkshk. Fingerstache commodo master cleanse adipisicing, 
      small batch keytar sed eiusmod. Voluptate ut non fixie bitters, 
      tofu Carles do brunch forage elit excepteur mlkshk.
    </p>

    <p>
      Food truck seitan est whatever farm-to-table, chillwave pop-up 
      laborum ullamco sed swag selfies kogi roof party mlkshk. XOXO 
      master cleanse Godard Pinterest PBR&B irony, swag organic Terry 
      Richardson culpa tattooed +1 exercitation. Gluten-free eu consectetur 
      nesciunt, Banksy Williamsburg cred dolor culpa stumptown distillery. 
      Bitters bicycle rights nihil, quis seitan 8-bit Intelligentsia 
      dreamcatcher cornhole plaid ad direct trade. Tempor Pinterest 
      reprehenderit whatever, 3 wolf moon kogi irure post-ironic church-key. 
      Anim small batch XOXO, sustainable elit umami officia four loko 
      laboris reprehenderit ennui twee jean shorts irure Blue Bottle. Deep 
      v PBR&B proident small batch ad.
    </p>
  </div>
</div>